.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.loginContainer form {
    max-width: 400px;
    width: 80%;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 #ccc;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.loginContainer form input {
    margin: 10px 0;
    padding: 10px 0px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.loginContainer form button {
    margin: 10px 0;
    padding: 10px 0px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.question {
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    color: red;
}